[Unit]
Description=tikka stock ticker flask instance
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=python
ExecStart=python3 /home/python/.local/bin/tikka_server.py -c fullchain.pem -k privkey.pem
WorkingDirectory=/home/python/tikka

[Install]
WantedBy=multi-user.target
